{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block messages %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
            {% for message in messages %}
              {% set display = slice(message, "1:") %}
              {% set prefix = slice[0] %}
              {% if prefix == "1" %}
                <div class="alert alert-secondary" role="alert">
                {{ display }}
                </div>
              {% else %}
                <div class="alert alert-danger" role="alert">
                {{ display }}
                </div>
              {% endif %}
            {% endfor %}
      {% endif %}
    {% endwith %}
{% endblock %}


{% block content %}
<form class="form-inline" action="#" method="POST">
  <div class="form-group mb-2">
    <label for="staticName2" class="sr-only">Name</label>
    <input type="text" readonly class="form-control-plaintext" id="staticName2" value="Enter Your Name">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputName" class="sr-only">Name</label>
    <input type="text" class="form-control" name="inputName" id="inputName" placeholder="First Name">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>

<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}